/*Generales*/
*{
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #ffffff;
}
a:hover{
    color: black;
    
}

.color_letras{
    color: #ffffff;
}

.hidden{
    display: none;
    visibility: hidden;
}

html{
    width: 100%;
}

/* Extra small devices ( portait phones ) */
@media (max-width:576px){
    /* Carousel */
    .d-block{
        height: 190px;
        width: 100% !important;
    }
    /* Menu Hamburguesa */
    .toggle-button{
    }
    /* Iconos de redes sociales flotantes */
    .accesos-directos {
        width: 576px;
        height: 200px;
        display: flex;
        justify-content: center;
    }
    .logo-acceso-directo{
        margin-left: 95px;
        margin-bottom: -55px;
    }
    .logo-acceso-directo1{
        margin-right: 95px;
    }
    .accesos-directos img{
        height: 100px;
        width: 100px;
        text-align: center;
    }
    /*  Web de Productos */
    .sector_tendencias{
        height: 600px;
    }
    .sub-contendor-tendencia{
        width: 576px;
        height: 590px;
    }
    .tarjeta_producto{
        display: block;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        align-self: auto;
        order: 0;
        justify-content: center;
    }
    .contenedor-foto-producto{
        margin-top: 20 px;
        text-align: center;
    }
    .foto-producto-apple{
        margin-top: 100px;
    }
    .titulo-sector-descripcion{
        margin-top: 50px;
    }
    .boton_masinfo_a{
        margin-top: -10px;
    }
    /* Web de Apple */
    .galeria_productos_apple{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .foto-redirecc-apple{
        text-align: center;
    }
    .tarjeta_galeria_productos_apple h2{
        margin-top: 20px;
    }
}

/*Nav*/
/*Color y ajustes detalles*/
@media (min-width:1025px) {


.nav{
    background-color: #1D1D1F;
}

.reajuste-icon{
    position: relative;
    width: 60px;
    height: 60px;
    top: -40%;
}


/*Orden*/

.nav{
    margin-top: 0 !important;
    padding: 0 !important;
    display: flex;
    flex-direction: row;
    align-items: center ;
    justify-content: space-around;
    height: 10vh;
    position:sticky !important;
    top: 0;
    z-index: 10;
}

.ul_nav{
    align-items: center;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    column-gap: 2.5vw;
    padding-top: 2vh;
}

.ul_nav_links{
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: normal;
}

.sticky{
    position:sticky;
    top:0px;
    z-index:1100;
}

.toggle-button{
    display: none;
}
/*main*/

.boton_redondeado_slider{
    border-radius: 50%;
    width: 7px!important;
    height: 7px!important;
}

.galeria_otros_productos{
    margin-top: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 15vh;
}

.galeria_otros_productos_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.galeria_otros_productos_div h2{
    position: absolute;
    top: 45%;
    font-weight: 900;
}

/*Main-productos en tendencia*/
.sector_tendencias{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: 5vh;
    padding-top: 10vh;
    background-color: #e6e5e565;
    padding-bottom:10vh;
}

.titulo_productos_en_tendencia{
    margin-bottom:5vh;
    font-size: 1.75rem;
}

.contenedor_productos_busqueda{
    margin-left: 7vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 5vw;
    row-gap: 10vh;
    flex-wrap: wrap;
}
.tarjeta_producto{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    width: 224px;
    padding: 1.5vw;
    height: 330px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #adadad;

}
.tarjeta_producto:hover{
    animation-name:animacion_tarjeta;
    animation-duration:400ms;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
    transform: scale(1.05,1.05);
}

@keyframes animacion_tarjeta {
    0%{
        transform: scale(1,1);
    }
    100%{
        transform: scale(1.05,1.05);
        box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
    }    
}

.contenedor-foto-producto-detalle{
    text-align: center;
    width: 224px;
    height: 124px;
}
.foto_producto{
    max-width: 80%;
    max-height: 100%;
}

.division-info{
    max-width: 100%;
    border-top: #4f4f4f solid 0.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nombre_producto{
    margin-top: 1vh;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}
.desc_producto{
    text-align: center;
}

.precio_producto{
    font-size: 1rem;
    font-weight: 800;
}
.boton_masinfo{
    border-style: none;
    border-radius: 5px;
    background-color: #D9D9D9;
}
.boton_masinfo:hover{
    
}
.boton_masinfo_a {
    color: #1D1D1F;
    font-size: 0.75rem;
    font-weight: 700;
}
/*Footer*/

.footer_settings{
    padding-bottom: 1.5vh;
    margin-top: 10vh;
    background-color:#1d1d1f;
}
.pre_footer{
    background-color:#2e2e2e9a;
    padding: 2.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items:baseline;
}

.prefooter_letra{
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
}

.newsletter_input{
    margin: 0;
    padding: 0;
    height: 4.5vh;
    width: 25vw;
    border-color: #1D1D1F;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-style: none;
}

.newsletter_boton{
    position: relative;
    left: -0.3vw;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 5vw;
    height: 4.5vh;
    margin: 0;
    padding: 0;
    border-style: none;
    color:#ffffff;
    background-color: rgb(107, 107, 107);
}


.footer_accesos_directos{
    padding-top: 2vh;
}

.svg_footer{
    width: 20px;
    height: 20px;
}

.letra_link_footer{
    padding-top: 0.5vh;
    font-size: 0.75rem;
    font-weight: 500;
    color: #ffffff;

}

.flex_li_footer{
    display: flex;
    flex-direction: row;
    column-gap: 0.5vw;
}


/*Pestaña de productos*/

.contenedor_productos{
    padding-top: 5vw;
    display: grid;
    grid-template-columns: 2fr 8fr;
}
.sector_busqueda_filtros{
    padding-left: 5vw;
    padding-right: 1vw;
    background-color: #1D1D1F;
    width: 18vw;
    height: 50vh;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    padding: 1.5vw;
    border-radius: 5px;
    
}

.contenedor_resultados{
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 5vh; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2.5vw;
    row-gap: 2.5vh;
    align-items: center;

}

.boton_busqueda{
    width: 9vw;
    text-align: start;
    border-radius: 7.5px;
    margin: 2.5vh;
}

.texto_boton_busq{
    font-size:1.15rem;
    font-weight: 500;
    color: #ffffff;
}

.texto_boton_busq:hover{
    transform: scale(1.05,1.05);
}

.texto_boton_busq:active{
    transform: scale(1.025,1.025);
    color: #d8d8d8;
}

.texto_no_encontrado{
    font-size: 2rem;
}

.boton_busqueda_svg{
    transform: scale(0.75,0.75);
}

#input_busqueda_productos{
    width: 15vw;
    height: 5.5vh;
}

#envio_boton_busqueda_productos{
    border: none;
    position: relative;
    left: -4.5vw;
    top: -1.6vh;
}
.envio_boton_busqueda_productos{
    display: none;
}

#envio_boton_busqueda_productos:hover{
    transform: scale(1,1)!important;
}

/* Sector Gaming*/

.rotacion_galeria_gaming{
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tarjeta_rotacion_galeria_gaming{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.tarjeta_rotacion_galeria_gaming:hover{
    transform: scale(1.125,1.125);

}
.tarjeta_rotacion_galeria_gaming img{
    width: 20vw;
    height: 40vh;
}

.tarjeta_rotacion_galeria_gaming h2{
    color: #1D1D1F;
}

/* Sector apple*/

.galeria_productos_apple{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2.5vw;
    padding-top: 10vh;
    justify-content: center;
}

.tarjeta_galeria_productos_apple{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 390px;
    max-height: 185px;
}

.apple_botones_ver_mas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 35px;
    width: 80px;
    background-color:#ffffff;
    border-style: solid;
    border-width: 0.5px;
    border-color: #1D1D1F;
    border-radius: 20px;
    color: #1D1D1F;
}

.contenedor_organizador{
    position: relative;
    top: -100px;
    right: -0px;
}

/*PAGINA EXTENDIDA*/
/*PAGINA EXTENDIDA*/
.contenedor_pagina_producto{
    display: grid;
    grid-template-areas: "foto nombre nombre"
    "foto precio precio"
    "descripcion descripcion descripcion";
}

.foto_producto_ext{
    grid-area: foto;
    width: 160px;
    height: 125px;
}

.nombre_producto_ext{
    grid-area: nombre;
    font-size: 1rem;
    font-weight: 600;
}

.precio_producto_ext{
    grid-area: precio;
    font-size: 1rem;
}

.descripcion_producto_ext{
    grid-area: descripcion;
}

.sector-productos-relacionados{
    margin-top: 7.5vh;
    width: 98%;
}

.contenedor_resultados-pr-rel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1.5vw;
    row-gap: 1.5vw;
}

.sector-productos-relacionados-titulo{
    margin-left: 10vw;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2.5vh;
}

.contenedor_resultados-pr-rel .tarjeta_producto{
    width: 15vw;
}

.contenedor_resultados-pr-rel .tarjeta_producto .foto_producto{
    width: 50%;
    height: 50%;
}
.contenedor_resultados-pr-rel .tarjeta_producto .precio_producto{
    display: none;
}



/*Pagina cotizar*/

.pagina-cotizar{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.pagina-cotizar h2{
    margin-top: 5vh;
    font-weight: 600;
}

.pagina-cotizar p{
    font-size: 0.75rem;
    font-weight: 600;
}

.intro-pagina-cotizar{
    display: flex;
    flex-direction: row;
    column-gap: 10vw;
    align-items: center;
    position: relative;

}

.sub-cotizar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
    margin-top: 2.5vh;
    height: 30vh;
    width: 20vw;
    background-color: #adadad;
    border-radius: 3px;
}

.sub-cotizar h2{
    position: relative;
    font-size: 1.5rem;
    font-weight: 500;
}
.material-symbols-outlined{
    transform: scale(1.75,1.75);
    font-variation-settings:
    'FILL' 48,
    'wght' 900,
    'GRAD' 0,
    'opsz' 48
}

.cotizar{
    color: blueviolet;
}

/*Seccion detalle extendido apple*/
.presentacion-apple{
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 5vw;
}

.nombre_producto_ext{
    font-size: 2rem;
    text-align: center;
}

.precio_producto_ext{
    font-size: 1.5rem;
    text-align: center;
}

.contenedor-info-seleccion{
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
}

.titulo-seleccion{
    font-size: 1rem;
    font-weight: 600;
}

.boton-componentes{
    padding: 1vh;
    border-style: solid;
    border-width: 0.5px;
}

.contenedor-boton-seleccion{
    display: flex;
    flex-direction: row;
    column-gap: 2vw;
}
.boton-seleccion{
    padding: 8px 12px;
    border-style: solid ;
    border-color: #adadad;
    border-width: 0.75px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 0.75rem;
}
.boton-seleccion:hover{
    transform: scale(1.05,1.05);
}
.boton-gray{
    width:25px;
    height: 25px;
    border-radius: 50%;
    border-width: 0.2px;
    border-style: solid;
    background-color: #A2AAAD ;
}
.boton-space{
    width:25px;
    height: 25px;
    border-radius: 50%;
    border-width: 0.2px;
    border-style: solid;
    background-color: #b4b5b9 ;
}
.boton-space:hover{
    transform: scale(1.25,1.25);
    border-width: 0.4px;
}
.boton-silver{
    width:25px;
    height: 25px;
    border-radius: 50%;
    border-width: 0.2px;
    border-style: solid;
    background-color: #F5F5F0 ;
}
.boton-silver:hover{
    transform: scale(1.25,1.25);
    border-width: 0.4px;
}
.boton-midnight{
    width:25px;
    height: 25px;
    border-radius: 50%;
    border-width: 0.2px;
    border-style: solid;
    background-color:  #171E27;
}
.boton-midnight:hover{
    transform: scale(1.25,1.25);
    border-width: 0.4px;
}
.boton-gold{
    width:25px;
    height: 25px;
    border-radius: 50%;
    border-width: 0.2px;
    border-style: solid;
    background-color: #FEEDD8;
}
.boton-gold:hover{
    transform: scale(1.25,1.25);
    border-width: 0.4px;
}
.boton-purple{
    width:25px;
    height: 25px;
    border-radius: 50%;
    border-width: 0.2px;
    border-style: solid;
    background-color: #5856d6;
}
.boton-black{
    width:25px;
    height: 25px;
    border-radius: 50%;
    border-width: 0.2px;
    border-style: solid;
    background-color: black;
}
.boton-pink{
    width:25px;
    height: 25px;
    border-radius: 50%;
    border-width: 0.2px;
    border-style: solid;
    background-color: pink;
}
.boton-white{
    width:25px;
    height: 25px;
    border-radius: 50%;
    border-width: 0.2px;
    border-style: solid;
    background-color: white;
}
.boton-black:hover{
    transform: scale(1.25,1.25);
    border-width: 0.4px;
}
.boton-green{
    width:25px;
    height: 25px;
    border-radius: 50%;
    border-width: 0.2px;
    border-style: solid;
    background-color:#4cd964;
}
.boton-red{
    width:25px;
    height: 25px;
    border-radius: 50%;
    border-width: 0.2px;
    border-style: solid;
    background-color:#ff3b30;
}
.boton-starlight{
    width:25px;
    height: 25px;
    border-radius: 50%;
    border-width: 0.2px;
    border-style: solid;
    background-color:#F8F9EC;
}
.boton-blue{
    width:25px;
    height: 25px;
    border-radius: 50%;
    border-width: 0.2px;
    border-style: solid;
    background-color:#007aff;
}
.boton-blue:hover{
    transform: scale(1.25,1.25);
    border-width: 0.4px;
}

.space-active{
    width:30px;
    height: 30px;
    border-radius: 50%;
    border-width: 0.2px;
    border-style: solid;
    background-color: #b4b5b9 ;
    border-color: #3483fa;
}

.container-fotos-flechas{
    width: 50vw;
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flechas{
    position: relative;
    top:-40vh;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 30%;
}

.flecha-individual:hover{
    transform: scale(1.125,1.125);
}

.contenedor-foto-producto{
    width: 370px;
    height: 480px;
}
.foto-producto-apple{
    max-width: 100%;
    max-height: 100%;
}

.busqueda-no-encontrada{
    margin-left: 2.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.sub-contendor-tendencia{
    display: flex;
    flex-direction: row;
    column-gap: 2.5vw;
    
}

.active{
    border-color: #3483fa;
    border-width: 2px;
}

.foto-redirecc-apple{
    width: 90%;
}

.precio-final {
    height: 10px;
    font-size: 1.25rem;
    margin-top: 2.5vh;
}

.precio-final-vers-esp{
    font-size: 0.85rem;
    font-weight: 600;
    color: green;
}

.boton-consulta-wpp{
    background-color:#128C7E;
    border-radius: 4px;
    padding: 0.5vw;
    width:fit-content;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    font-weight: 600;
    text-align: center;
}

.sector-desc-apple{
    width: 60vw;
    margin-left: 10vw;
}
.titulo-sector-descripcion{
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 24px;
}

.contenedor-sector-descripcion-sub{
    border-bottom: #000000 1px;
}

.titulo-sector-descripcion-b{
    font-size: 1.25rem;
    font-weight: 600;
    color: #1D1D1F;
}
.desc-listas{
    list-style:circle;
    font-size: 1.06rem;
    font-weight: 500;
    color: #1D1D1F;
}
.accesos-directos{
    right: -200px;
    z-index:-1000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-acceso-directo{
    position: relative;
    width: 55px;
    height: 55px;
}

.logo-acceso-directo img{
    width: 100%;
    height: 100%;
}



}









@media (min-width:769px) and (max-width:1024px) {

    body{
    }
    .nav{
        background-color: #1D1D1F;
    }
    
    .reajuste_icon{
        position: relative;
        top: -40%;
        width: 4%;
        height: 200%;
    }

    .reajuste-icon{
        position: relative;
        width: 50px;
        height: 50px;
        top: -40%;
    }
    
    
    /*Orden*/
    
    .nav{
        margin-top: 0 !important;
        padding: 0 !important;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 2.5vh 1vw;
        height: 8.5vh;
        position:sticky !important;
        top: 0;
    }
    
    .ul_nav{
        align-items: center;
        display: flex;
        flex-direction:row;
        column-gap: 2.5vw;
    }
    
    .sticky{
        position:sticky;
        top:0px;
        z-index:1100;
    }
    
    .toggle-button{
        position: absolute;
        top:.75rem;
        right: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
    }

    .toggle-button .barra{
        height: 3px;
        width: 100%;
        background-color: white;
        border-radius: 10px;
    }

    .div_ul_nav{
        display: none;
    }
    
    /*main*/
    
    .boton_redondeado_slider{
        border-radius: 50%;
        width: 7px!important;
        height: 7px!important;
    }
    
    .galeria_otros_productos{
        margin-top: 15vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        row-gap: 15vh;
    }
    
    .galeria_otros_productos_div{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    .galeria_otros_productos_div h2{
        position: absolute;
        top: 45%;
        font-weight: 900;
    }
    
    /*Main-productos en tendencia*/
    .sector_tendencias{
        display: flex;
        flex-direction:column;
        align-items: center;
        margin-top: 5vh;
        padding-top: 10vh;
        background-color: #e6e5e565;
        padding-bottom:10vh;
    }
    .titulo_productos_en_tendencia{
        margin-bottom:5vh;
        font-size: 1.5rem;
    }
    .contenedor_productos_tendencia{
    
        padding: 0vw 10vh;
        display: flex;
        flex-direction: row;
        column-gap: 5vw;
        row-gap: 10vh;
        flex-wrap: wrap;
    }
    .tarjeta_producto{
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: baseline;
        width: 17.5vw;
        padding: 1.5vw;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: #adadad;
    
    }
    .tarjeta_producto:hover{
        animation-name:animacion_tarjeta;
        animation-duration:400ms;
        box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
        transform: scale(1.05,1.05);
    }
    
    @keyframes animacion_tarjeta {
        0%{
            transform: scale(1,1);
        }
        100%{
            transform: scale(1.05,1.05);
            box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
        }    
    }
    .foto_producto{
        width: 160px;
        height: 125px;
    }
    
    .nombre_producto{
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
    }
    .desc_producto{
        text-align: center;
    }
    
    .precio_producto{
        font-size: 1rem;
        font-weight: 800;
    }
    .boton_masinfo{
        border-style: none;
        border-radius: 5px;
        background-color: #D9D9D9;
    }
    .boton_masinfo:hover{
        
    }
    .boton_masinfo_a {
        color: #1D1D1F;
        font-size: 0.75rem;
        font-weight: 700;
    }
    /*Footer*/
    
    .footer_settings{
        padding-bottom: 1.5vh;
        margin-top: 10vh;
        background-color:#1d1d1f;
    }
    .pre_footer{
        background-color:#2e2e2e9a;
        padding: 2.5vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items:baseline;
    }
    
    .prefooter_letra{
        font-size: 1.5rem;
        font-weight: 700;
        color: #ffffff;
    }
    
    .newsletter_input{
        margin: 0;
        padding: 0;
        width: 25vw;
        border-color: #1D1D1F;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-style: none;
    }
    
    .newsletter_boton{
        position: relative;
        left: -0.3vw;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 2.5vw;
        height: 100%;
        margin: 0;
        padding: 0;
        border-style: none;
        color:#ffffff;
        background-color: rgb(107, 107, 107);
    }
    
    
    .footer_accesos_directos{
        padding-top: 2vh;
    }
    
    .svg_footer{
        width: 20px;
        height: 20px;
    }
    
    .letra_link_footer{
        padding-top: 0.5vh;
        font-size: 0.75rem;
        font-weight: 500;
        color: #ffffff;
    
    }
    
    .flex_li_footer{
        display: flex;
        flex-direction: row;
        column-gap: 0.5vw;
    }
    
    
    /*Pestaña de productos*/
    
    .contenedor_productos{
        padding-top: 5vw;
        display: grid;
        grid-template-columns: 2fr 8fr;
    }
    .sector_busqueda_filtros{
        padding-left: 5vw;
        padding-right: 1vw;
        background-color: #1D1D1F;
        width: 18vw;
        height: 50vh;
        margin-left: 1.5vw;
        margin-right: 1.5vw;
        padding: 1.5vw;
        border-radius: 5px;
        
    }
    
    .contenedor_resultados{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: 5vh;
    
    }
    
    .boton_busqueda{
        width: 9vw;
        text-align: start;
        border-radius: 7.5px;
        margin: 2.5vh;
    }
    
    .texto_boton_busq{
        font-size:1.15rem;
        font-weight: 500;
        color: #ffffff;
    }
    
    .texto_boton_busq:hover{
        transform: scale(1.05,1.05);
    }
    
    .texto_boton_busq:active{
        transform: scale(1.025,1.025);
        color: #d8d8d8;
    }
    
    .texto_no_encontrado{
        font-size: 2rem;
    }
    
    .boton_busqueda_svg{
        transform: scale(0.75,0.75);
    }
    
    #input_busqueda_productos{
        width: 15vw;
        height: 5.5vh;
    }
    
    #envio_boton_busqueda_productos{
        border: none;
        position: relative;
        left: -4.5vw;
        top: -1.6vh;
    }
    .envio_boton_busqueda_productos{
        display: none;
    }
    
    #envio_boton_busqueda_productos:hover{
        transform: scale(1,1)!important;
    }
    
    /* Sector Gaming*/
    
    .rotacion_galeria_gaming{
        margin-top: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .tarjeta_rotacion_galeria_gaming{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .tarjeta_rotacion_galeria_gaming:hover{
        transform: scale(1.125,1.125);
    
    }
    .tarjeta_rotacion_galeria_gaming img{
        width: 20vw;
        height: 40vh;
    }
    
    .tarjeta_rotacion_galeria_gaming h2{
        color: #1D1D1F;
    }
    
    /* Sector apple*/
    
    .galeria_productos_apple{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .tarjeta_galeria_productos_apple{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 390px;
        height: 185px;
    }
    .tarjeta_galeria_productos_apple img{
        max-width: 100%;
    }
    .apple_botones_ver_mas{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 6.5vh;
        width: 7.5vw;
        background-color:#ffffff;
        border-style: solid;
        border-width: 0.5px;
        border-color: #1D1D1F;
        border-radius: 20px;
        color: #1D1D1F;
    }
    
    .contenedor_organizador{
        position: relative;
        top: -25vh;
        left: -12.5vw;
    }
    
    /*PAGINA EXTENDIDA*/
    .contenedor_pagina_producto{
        display: grid;
        grid-template-areas: "foto nombre nombre"
        "foto precio precio"
        "descripcion descripcion descripcion";
    }
    
    .foto_producto_ext{
        grid-area: foto;
        width: 160px;
        height: 125px;
    }
    
    .nombre_producto_ext{
        grid-area: nombre;
        font-size: 1rem;
        font-weight: 600;
    }
    
    .precio_producto_ext{
        grid-area: precio;
        font-size: 1rem;
    }
    
    .descripcion_producto_ext{
        grid-area: descripcion;
    }
    

    
/*Pagina cotizar*/

.pagina-cotizar{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.pagina-cotizar h2{
    margin-top: 5vh;
    font-weight: 600;
}

.pagina-cotizar p{
    font-size: 0.75rem;
    font-weight: 600;
}

.intro-pagina-cotizar{
    display: flex;
    flex-direction: row;
    column-gap: 10vw;
    align-items: center;
    position: relative;

}

.sub-cotizar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
    margin-top: 2.5vh;
    height: 30vh;
    width: 20vw;
    background-color: #adadad;
    border-radius: 3px;
}

.sub-cotizar h2{
    position: relative;
    font-size: 1.5rem;
    font-weight: 500;
}
.material-symbols-outlined{
    transform: scale(1.75,1.75);
    font-variation-settings:
    'FILL' 48,
    'wght' 900,
    'GRAD' 0,
    'opsz' 48
}

.accesos-directos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-acceso-directo{
    width: 55px;
    height: 55px;
}

.logo-acceso-directo img{
    width: fit-content;
}
}



@media (max-width:576px) {
    .index-view{
        max-width: 100%;
    }
    .sub_body{
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    .sub-contendor-tendencia{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
    }
    .nav{
        background-color: #1D1D1F;
    }
    
    .reajuste_icon{
        position: relative;
        top: -40%;
        width: 4%;
        height: 200%;
    }
    
    .reajuste-icon{
        position: relative;
        width: 60px;
        height: 60px;
        top: -40%;
    }

    /*Orden*/
    
    .nav{
        margin-top: 0 !important;
        padding: 0 !important;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 2.5vh 1vw;
        top: 0;
    }
    
    .ul_nav{
        align-items: center;
        display: none;
        flex-direction:column;
        row-gap: 2.5vw;
        width: 100%;
    }

    .ul_nav .active{
        display: flex;
    }
    
    .sticky{
        position:sticky;
        top:0px;
    }
    
    .toggle-button{
        position: absolute;
        top:.75rem;
        right: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
    }

    .toggle-button .barra{
        height: 3px;
        width: 100%;
        background-color: white;
        border-radius: 10px;
    }

    .div_ul_nav{
        /* display: none; */
        width: 100%;
    }
    .div_ul_nav .active{
        display: flex;
    }
    
    .ul_nav_links{
        padding: 2.5vh;
        width: 100%;
        text-align: center;
    }

    .ul_nav_links:active{
        background-color: #4f4f4f;
    }
    /*main*/
    

    .boton_redondeado_slider{
        border-radius: 50%;
        width: 7px!important;
        height: 7px!important;
    }
    
    .galeria_otros_productos{
        margin-top: 15vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        row-gap: 15vh;
    }
    
    .galeria_otros_productos_div{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    .galeria_otros_productos_div h2{
        position: absolute;
        top: 45%;
        font-weight: 900;
    }
    
    /*Main-productos en tendencia*/
    .sector_tendencias{
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        margin-top: 5vh;
        padding-top: 10vh;
        background-color: #e6e5e565;
        padding-bottom:10vh;
    }
    
    .titulo_productos_en_tendencia{
        margin-bottom:5vh;
        font-size: 1.75rem;
    }
    
    .contenedor_productos_busqueda{
        margin-left: 7vw;
        display: flex;
        align-items: center;
        flex-direction: row;
        column-gap: 5vw;
        row-gap: 10vh;
        flex-wrap: wrap;
    }
    .tarjeta_producto{
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: baseline;
        width: 224px;
        padding: 1.5vw;
        height: 330px;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: #adadad;
    
    }
    
    .contenedor-foto-producto-detalle{
        text-align: center;
        width: 224px;
        height: 124px;
    }
    .foto_producto{
        max-width: 80%;
        max-height: 100%;
    }
    
    .division-info{
        padding: 1rem;
        max-width: 100%;
        border-top: #4f4f4f solid 0.5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nombre_producto{
        margin-top: 1vh;
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
    }
    .desc_producto{
        text-align: center;
    }
    
    .precio_producto{
        font-size: 1rem;
        font-weight: 800;
    }
    .boton_masinfo{
        border-style: none;
        border-radius: 5px;
        background-color: #D9D9D9;
    }

    .boton_masinfo_a {
        color: #1D1D1F;
        font-size: 0.75rem;
        font-weight: 700;
    }
    /*Footer*/
    
    .footer_settings{
        padding-bottom: 1.5vh;
        margin-top: 10vh;
        background-color:#1d1d1f;
    }
    .pre_footer{
        background-color:#1d1d1f;
        padding: 2.5vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items:center;
    }
    
    .prefooter_letra{
        font-size: 1.25rem;
        font-weight: 700;
        color: #ffffff;
    }
    
    .newsletter_input{
        margin: 0;
        padding: 0;
        height: 4.5vh;
        width: 50vw;
        border-color: #1D1D1F;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-style: none;
    }
    
    .newsletter_boton{
        position: relative;
        left: -0.3vw;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 20vw;
        height: 4.5vh;
        padding: 0;
        border-style: none;
        color:#ffffff;
        background-color: rgb(107, 107, 107);
    }
    
    
    .footer_accesos_directos{
        padding-top: 2vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }
    
    .svg_footer{
        width: 20px;
        height: 20px;
    }
    
    .letra_link_footer{
        font-size: 0.75rem;
        margin-top: 0.5vh;
    }
    
    .flex_li_footer{
        display: flex;
        flex-direction: row;
        column-gap: 0.5vw;
    }
    .footer-accesos-directos-boton{
        margin-left: 24vw;
        display: flex;
        flex-direction: row;
        column-gap: 2.5vw;
    }
    
    
    /*Pestaña de productos*/
    
    .contenedor_productos{
        top: 20px;
        padding-top: 5vw;
        display: flex;
        flex-direction: column;
        align-items: center;    
        background-color: #f6f6f6;
        margin: 5vw;
        border-radius: 10px;
    }
    .sector_busqueda_filtros{
        padding: 5vh;
        background-color: #1D1D1F;
        width: 90vw;
        margin: auto;
        margin-bottom: 5vh;
        padding: 1.5vw;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .contenedor_resultados{
        display: flex;
        flex-direction: column;
        row-gap: 5vh;
    
    }
    
    .boton_busqueda{
        width: 9vw;
        text-align: start;
        border-radius: 7.5px;
        margin: 2.5vh;
    }
    
    .texto_boton_busq{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size:0.75rem;
        font-weight: 700;
        color: #ffffff;
        border-radius: 25px;
        background-color: #4f4f4f;
        padding: 1.5vw 2vw;
        text-align: center;
        margin: 1vh;
        margin-left: 4vw;
        border: solid 0.1px #000000;
    }
    
    .texto_boton_busq:hover{
        transform: scale(1.05,1.05);
    }
    
    .texto_boton_busq:active{
        transform: scale(1.025,1.025);
        color: #d8d8d8;
    }
    
    .texto_boton_busq:hover{
        transform: scale(1.05,1.05);
    }
    
    .texto_boton_busq:active{
        transform: scale(1.025,1.025);
        color: #d8d8d8;
    }
    .busqueda-no-encontrada{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15vw;
        text-align: center;
        background-color: #f6f6f6;
        margin: 5vw;
        border-radius: 10px;
    }
    .texto-no-encontrado{
        font-size: 2rem;
    }
    .texto-no-encontrado-inf{
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
    }
    .cotizar{
        font-weight: 600;
        color:rgb(80, 80, 179);
    }

    .cotizar:active{
        transform: scale(1.25,1.25);
        color: blue;
    }
    .boton_busqueda_svg{
        transform: scale(0.75,0.75);
    }
    
    #input_busqueda_productos{
        width: 15vw;
        height: 5.5vh;
    }
    
    #envio_boton_busqueda_productos{
        border: none;
        position: relative;
        left: -4.5vw;
        top: -1.6vh;
    }
    .envio_boton_busqueda_productos{
        display: none;
    }
    
    /* Sector Gaming*/
    
    .rotacion_galeria_gaming{
        margin-top: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .tarjeta_rotacion_galeria_gaming{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .tarjeta_rotacion_galeria_gaming:hover{
        transform: scale(1.125,1.125);
    
    }
    .tarjeta_rotacion_galeria_gaming img{
        width: 20vw;
        height: 40vh;
    }
    
    .tarjeta_rotacion_galeria_gaming h2{
        color: #1D1D1F;
    }
    
    /* Sector apple*/
    
    .galeria_productos_apple{
        display: flex;
        flex-direction: column;
        row-gap: 15vw;
        padding-top: 10vh;
        align-items: center;
    }
    
    .tarjeta_galeria_productos_apple{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 550px;
        max-height: 385px;
    }
    
    .apple_botones_ver_mas{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 35px;
        width: 80px;
        background-color:#ffffff;
        border-style: solid;
        border-width: 0.5px;
        border-color: #1D1D1F;
        border-radius: 20px;
        color: #1D1D1F;
    }
    
    .contenedor_organizador{
        position: relative;
        top: -100px;
        right: -0px;
    }
    
    /*PAGINA EXTENDIDA*/
    .contenedor_pagina_producto{
        margin-top: 10vh;
        display: grid;
        grid-template-areas:
        "nombre nombre nombre",
        "foto foto foto"
        "precio precioo precio";
        flex-direction: column;
        align-items: center;
    }
    
    .foto_producto_ext{
        grid-area: foto;
        width: 100%;
        height: 100%;
        padding: 5vh;
    }
    
    
    .nombre_producto_ext{
        grid-area: nombre;
        font-size: 1rem;
        font-weight: 600;
    }
    
    .precio_producto_ext{
        grid-area: precio;
        font-size: 1rem;
    }
    
    .descripcion_producto_ext{
        grid-area: descripcion;
    }
    
    .sector-productos-relacionados{
        margin-top: 7.5vh;
        width: 98%;
    }
    
    .contenedor_resultados-pr-rel{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 1.5vw;
        row-gap: 1.5vw;
    }
    
    .sector-productos-relacionados-titulo{
        margin-left: 10vw;
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 2.5vh;
    }
    
    .contenedor_resultados-pr-rel .tarjeta_producto{
        width: 15vw;
    }
    
    .contenedor_resultados-pr-rel .tarjeta_producto .foto_producto{
        width: 50%;
        height: 50%;
    }
    .contenedor_resultados-pr-rel .tarjeta_producto .precio_producto{
        display: none;
    }
    
    
    
    /*Pagina cotizar*/
    
    .pagina-cotizar{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .pagina-cotizar h2{
        margin-top: 5vh;
        font-weight: 600;
    }
    
    .pagina-cotizar p{
        font-size: 0.75rem;
        font-weight: 600;
    }
    
    .intro-pagina-cotizar{
        display: flex;
        flex-direction: row;
        column-gap: 10vw;
        align-items: center;
        position: relative;
    
    }
    
    .sub-cotizar{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 5vh;
        margin-top: 2.5vh;
        height: 30vh;
        width: 20vw;
        background-color: #adadad;
        border-radius: 3px;
    }
    
    .sub-cotizar h2{
        position: relative;
        font-size: 1.5rem;
        font-weight: 500;
    }
    .material-symbols-outlined{
        transform: scale(1.75,1.75);
        font-variation-settings:
        'FILL' 48,
        'wght' 900,
        'GRAD' 0,
        'opsz' 48
    }
    
    .cotizar{
        color: blueviolet;
    }
    
    /*Seccion detalle extendido apple*/
    .container-fotos-flechas{
        width: 50vw;
        position:relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contenedor-foto-producto{
        width: 200x;
        height: 200px;
    }

    .contenedor_pagina_producto{
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .foto_producto_ext{
        grid-area: foto;
        padding: 5vh;
    }
    
    .nombre_producto_ext{
        text-align: center;
        grid-area: nombre;
        font-size: 1.75rem;
        font-weight: 600;
    }
    
    .precio_producto_ext{
        grid-area: precio;
        font-size: 1.5rem;
        color: #4f4f4f;
        font-weight: 600;
    }
    
    .descripcion_producto_ext{
        grid-area: descripcion;
        width:80vw;
        text-align: center;
    }


    .sector-productos-relacionados{
        margin-top: 7.5vh;
    }

    .contenedor_resultados-pr-rel{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 1.5vw;
    }
    
    .sector-productos-relacionados-titulo{
        text-align: center;
        font-weight: 700;
    }

    .contenedor_resultados-pr-rel .tarjeta_producto{
        width: 40vw;
    }

    .contenedor_resultados-pr-rel .tarjeta_producto .foto_producto{
        width: 50%;
        height: 50%;
    }
    .contenedor_resultados-pr-rel .tarjeta_producto .precio_producto{
        display: none;
    }

    .pagina-cotizar{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .pagina-cotizar h2{
        margin-top: 5vh;
        font-weight: 600;
    }
    
    .pagina-cotizar p{
        font-size: 0.75rem;
        font-weight: 600;
    }

    .intro-pagina-cotizar{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        position: relative;

    }

    .sub-cotizar{
        display: flex;
        flex-direction: column;
        margin-bottom: 5vh;
        margin-top: 5vh;
        padding: 7.5vw;
        padding-top: 5.5vh;
        width: 50vw;
        background-color: #adadad;
        border-radius: 3px;
    }

    .sub-cotizar h2{
        position: relative;
        top: -2.5vh;
        font-size: 1.5rem;
        font-weight: 500;
    }
    .material-symbols-outlined{
        transform: scale(1.75,1.75);
        font-variation-settings:
        'FILL' 48,
        'wght' 900,
        'GRAD' 0,
        'opsz' 48
    }
    .nombre_producto_ext{
        font-size: 2rem;
        text-align: center;
    }
    
    .precio_producto_ext{
        font-size: 1.5rem;
        text-align: center;
    }
    
    .contenedor-info-seleccion{
        display: flex;
        flex-direction: column;
        row-gap: 5vh;
    }
    
    .titulo-seleccion{
        font-size: 1rem;
        font-weight: 600;
    }
    
    .boton-componentes{
        padding: 1vh;
        border-style: solid;
        border-width: 0.5px;
    }
    
    .contenedor-boton-seleccion{
        display: flex;
        flex-direction: row;
        column-gap: 2vw;
    }
    .boton-seleccion{
        padding: 8px 12px;
        border-style: solid ;
        border-color: #adadad;
        border-width: 0.75px;
        border-radius: 6px;
        font-weight: 500;
        font-size: 0.75rem;
    }
    .boton-seleccion:hover{
        transform: scale(1.05,1.05);
    }
    
    .boton-space{
        width:25px;
        height: 25px;
        border-radius: 50%;
        border-width: 0.2px;
        border-style: solid;
        background-color: #b4b5b9 ;
    }
    .boton-space:hover{
        transform: scale(1.25,1.25);
        border-width: 0.4px;
    }
    .boton-silver{
        width:25px;
        height: 25px;
        border-radius: 50%;
        border-width: 0.2px;
        border-style: solid;
        background-color: #F5F5F0 ;
    }
    .boton-silver:hover{
        transform: scale(1.25,1.25);
        border-width: 0.4px;
    }
    .boton-midnight{
        width:25px;
        height: 25px;
        border-radius: 50%;
        border-width: 0.2px;
        border-style: solid;
        background-color:  #171E27;
    }
    .boton-midnight:hover{
        transform: scale(1.25,1.25);
        border-width: 0.4px;
    }
    .boton-gold{
        width:25px;
        height: 25px;
        border-radius: 50%;
        border-width: 0.2px;
        border-style: solid;
        background-color: #FEEDD8;
    }
    .boton-gold:hover{
        transform: scale(1.25,1.25);
        border-width: 0.4px;
    }
    
    .boton-black{
        width:25px;
        height: 25px;
        border-radius: 50%;
        border-width: 0.2px;
        border-style: solid;
        background-color: black;
    }
    
    .boton-blue{
        width:25px;
        height: 25px;
        border-radius: 50%;
        border-width: 0.2px;
        border-style: solid;
        background-color: rgb(33, 33, 255);
    }
    .space-active{
        width:30px;
        height: 30px;
        border-radius: 50%;
        border-width: 0.2px;
        border-style: solid;
        background-color: #b4b5b9 ;
        border-color: #3483fa;
    }
    
    .container-foto-flechas{
        width: 80vw;
        position:relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .flechas{
        position: relative;
        top:-40vh;
        z-index: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        opacity: 30%;
    }
    
    .flecha-individual:hover{
        transform: scale(1.125,1.125);
    }
    
    .presentacion-apple{
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        column-gap: 5vw;
    }
    .contenedor-foto-producto{
        width: 500px;
        height: 500px;
    }
    .foto-producto-apple{
        max-width: 80%;
        max-height: 80%;
    }
    
    .busqueda-no-encontrada{
        margin-left: 2.5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    .sub-contendor-tendencia{
        display: flex;
        flex-direction: row;
        column-gap: 2.5vw;
        
    }
    
    .active{
        border-color: #3483fa;
        border-width: 2px;
    }
    
    .foto-redirecc-apple{
        width: 90%;
    }
    
    .precio-final {
        height: 10px;
        font-size: 1.25rem;
        margin-top: 2.5vh;
    }
    
    .precio-final-vers-esp{
        font-size: 0.85rem;
        font-weight: 600;
        color: green;
    }
    
    .boton-consulta-wpp{
        background-color:#128C7E;
        border-radius: 4px;
        padding: 0.5vw;
        width:fit-content;
        box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
        font-weight: 600;
        text-align: center;
    }
    
    .sector-desc-apple{
        width: 60vw;
        margin-left: 10vw;
    }
    .titulo-sector-descripcion{
        font-size: 24px;
        font-weight: 400;
        padding-bottom: 24px;
    }
    
    .contenedor-sector-descripcion-sub{
        border-bottom: #000000 1px;
    }
    
    .titulo-sector-descripcion-b{
        font-size: 1.25rem;
        font-weight: 600;
        color: #1D1D1F;
    }
    .desc-listas{
        list-style:circle;
        font-size: 1.06rem;
        font-weight: 500;
        color: #1D1D1F;
    }

    .accesos-directos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .logo-acceso-directo{
        width: 55px;
        height: 55px;
    }
    
    .logo-acceso-directo img{
        width: fit-content;
    }
    }